body {
    background-color: #e6d598;
}

#game-title {
    text-align: center;
    color: #e2ca53;
    font-family: "Arial", sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px #000;
}

#player {
    position: absolute;
}

.pipe {
    position: absolute;
}

#score-div {
    position: absolute;
    top: 10px;
    left: 10px;
    padding-top: 16px;
    height: 40px;
    width: 120px;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid #000;
    border-radius: 15px;
}

#score {
    font-size: 20px;
    font-family: "Arial", sans-serif;
    text-align: center;
    margin: auto;
    font-weight: bold;
}

#game-window {
    position: relative;
    width: 60%;
    height: 80%;
    margin: 0 auto;
    background-color: #87CEEB;
    border: 2px solid #000;
    overflow: hidden;
}